body{
    background-color:#f05f41;
    font-family: 'Luckiest Guy', cursive;
    color:#3a0f07;
}
header{
    height: 90vh;
    color: #f05f41;
    text-shadow: -5px 5px #3a0f07;
    font-weight: 900;
    padding: 8% 5% 4% 5%;
    background-image: url("poze/orange-audience.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: left!important;
}
h2{
    text-shadow: 2px 2px #fab169;
}
span{
    display: inline-block;
    margin: 0 auto;
    text-shadow: -5px 5px #3a0f07;
}
.twisted{
    transform: scale(-1, 1);
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}
.navbar{
    background-color:#f05f41;
    border-bottom: 3px solid #3a0f0775;
}
.navbar p{
    color:#3a0f07;
}
nav button{
    background-color:#3a0f07!important;
}
nav img{
    height: 50px;
    float:left;
}
.meniu{
    float:left;
}
a{
    color:#3a0f07;
    text-decoration: none;
}
a:hover{
    color:#fab169;
}
.card-text a:hover{
    color:#f05f41;
}
.nav-link{
    color:#3a0f07!important;
    text-decoration: none;
}
.nav-link:hover, .nav-link:active{
    color:#fab169!important;
    
}
.card{
    background-color:#fab169;
}
.card h5, h3{
    text-shadow: 2px 2px #f05f41;
}
.card{
    box-shadow: 3px 3px #3a0f0738;
}
.card-18{
    width: 18rem;
}
.logoimg img{
    height: 50px;
    width: 50px;
}
.list-group-item{
    background-color:#ffcf9f8c;
    color:#3a0f07;
}
footer img{
    width: 40px;
}

.icons a{
    width: auto;
    float: left!important;
}